html	{
background-color: #6699CC;
background-image:url(../images/sky1.jpg);
background-attachment: fixed;
}
body {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 100%;
width: 862.5px;
background-color: #6699CC;
border: 2px solid black;
margin: 0;
margin-right: 249px;
margin-left: 249px;
float: center;
}

#nav_menu ul	{
		list-style-type: none;
		position: relative;
		margin: 0;
		padding: 0;
		}
#nav_menu ul ul	{
		display: none;
		position: absolute;
		top: 100%;
		}
#nav_menu ul ul li {
		   float: none;

		   }
#nav_menu ul li:hover > ul{
display: block;}
#nav_menu > ul::after 	{
    			content: "";
    			clear: both;
    			display: block;
    			}
#nav_menu ul li	{
		float: left;
		}
#nav_menu ul li a {
		  display: block;
		  color: white;
		  width: 170.5px;
		  text-align: center;
		  padding-top: 1em;
		  padding-bottom: 1em;
		  text-decoration: none;
		  background-color: #333399;
		  font-weight: bold;
		  border: 1px solid #666600;
		  }
#nav_menu ul li a.current 	{
				color: yellow;
				}
ul.circle {list-style-type: circle;}

a:focus, a:hover {
	font-style: italic;
}


#nav_menu ul li a:hover {
background-color: #6699CC;
}

#nav_menu ul ul li ul {
    position: absolute;
    left: 100%;
    top: 66.5%; }
    #nav_list ul { 
    	    list-style-type: none;
    	    margin-top: 1.25em;
    	    margin-left: 1.25em;
    	    margin-bottom: 1.5em; }
    	#nav_list ul li { 
    	    width: 125px;
    	    margin-bottom: .5em;
    	    border: 2px solid blue; }
    	#nav_list ul li a {
    	    display: block;
    	    padding: .5em 0 .5em 1.5em;
    	    text-decoration: none;
    	    font-weight: bold;
    	    color: blue; }
    	#nav_list ul li a.current {
	    background-color: silver; }
section	{
	width:	580px;
	float:	right;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	}
aside	{
	width:	215px;
	float:	left;
	padding-left: 20px;
	padding-bottom: 20px;
	}
aside img	{

		border: 1px solid black;
		}

aside a {color: #663300;
	text-decoration: none;
}

.current1{color: yellow;}
article	{
	padding-top:	.10em;
	padding-bottom:	.5em;
	border-top:	2px solid  #333300;
	border-bottom:	2px solid  #333300;
	}
	* { margin: 0;
	    padding: 0; }
	

article img {
	    float: center;
	    margin-top:	0;
	    margin-left:1.5em;
	    margin-bottom: 1.5em;
	    
	    }
aside img img :hover{
width: 600%;
}
article h2  {
	    padding-top: 0;
	    }
images img{
		display: block;
		width: 80%;
		height: 80%;
		
		
           }